@font-face {
    font-family: 'sedgwick_ave_displayregular';
    src: url('../fonts/sedgwickavedisplay-regular-webfont.woff2') format('woff2'),
        url('../fonts/sedgwickavedisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gloria_hallelujahregular';
    src: url('gloriahallelujah-webfont.woff2') format('woff2'),
        url('gloriahallelujah-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_monobold';
    src: url('robotomono-bold-webfont.woff2') format('woff2'),
        url('robotomono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: 'Sedgwick Ave Display';
}
.dev {
    border: 2px solid red;
}
.dev2 {
    border: 2px solid blue;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #5bc0de;
    background: aliceblue;
}

a.top {
    position:fixed;
}

html,body, main{
    margin: 2rem auto 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul li{
    list-style: none;
}

.slider {
    padding-left: 0;
    padding-right: 0;
}

.titreSlider{
    color: dodgerblue;
}

.bouttonSlider {
    width: 15rem;
    height: 8rem;
    border-radius: 45%;
}

.carousel-indicators li{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: aliceblue;
    background: aliceblue;
    opacity: 0.5;
}


.carousel-caption{
    position: absolute;
    bottom: 15rem;
    left: 0;
    right: 0;
}

@media screen and (max-width: 768px){

    .carousel-caption h2{
        position: absolute;
        bottom: -5rem;
        left: 0;
        right: 0;
    }

    .carousel-caption button{
        display: none;
    }

    .carousel-caption p{
        position: absolute;
        bottom: -10rem;
        left: 0;
        right: 0;
    }

    .item{
        width: 100%;
        height: 15rem;
    }
}

.item{
    width: 100%;
    height: auto;
}

.fa-linux{
    font-size: 4em;
}

.range1{
    margin-bottom: 5rem;
}

.forfait{
    margin-top: 10rem;
}

.etendre {
    font-size: 1.3em ;
}

.thumbnail{
    background: #708090;
}

.bordure {
    border-bottom: 2px solid black;
    margin-bottom: 4rem;
}

.fa-star-o {
    font-size: 3.6em;
    margin-left: 50%;
}
h4 {
    padding: 1em;
}

.boutton-sociaux li {
    padding-right: 1rem;
    align-content: center;
}
.boutton-sociaux {
    display: flex;
    margin-top: 1em;
    justify-content: space-around;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.img-panel{
    margin-top: 5rem;
    margin-bottom: 8rem;
}

.centre li{
    text-align: center;

}

.titreinscription {
    margin-top: 0px;
}

.politique{
    font-size: 1em;
    /*margin-top: 1rem;*/
}
.modal-dialog {
    width: 1200px;
}




header{
    width: 100%;
    height: auto;
    background: #36454f;
}


.container-fluid {
    padding: 0.5rem;
    background-color:  #36454f;
}

.blocmembre {
    margin-top: 15rem;
    margin-bottom: 25rem;
}

.zindex{
    z-index: 0;
}


.mentions {
    margin-top: 1.5em;
    text-align: center;
    color: #4e4e4e;
}

.blue{
    color: aliceblue;
}

.colorError{
    color: red;
}

#redIcone{
    color: red;
    font-size: 4em;
}

.regleForm {
    margin-top: 10rem;
}

#commentaire{
    width: 25rem;
    height: 12rem;
    margin-bottom: 1rem;
}

#auteur{
    width: 25rem;
    margin-bottom: 2rem;
}

#validForm{
    margin-bottom: 8rem;
}

.fa-check-square{
    color: red;
    display: flex;
}

.fa-check-square p{
    color: black;
}

.titreForum {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-bottom: 5rem;
    font-family: 'sedgwick_ave_displayregular';
}

.bordureTitreJeux a{
    font-size: 1.75em;
    color: #36454F;
}

//////////////////////////////[RESTE]/////////////////////////////////

p #forfait-p {
    color: aliceblue;
}

#btnInscription {
    text-align: center;
}
///////////////////////////////[MENU]///////////////////////////////

.navbar-default {
    background-color: #36454f;
}

.navbar-brand {
    padding: 0;
}

.navbar {
    margin: 0;
}

.navbar-default .navbar-nav>li>a {
    color: aliceblue;
    background: #36454f;
}

.navbar ul:hover {
    color: aliceblue;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: aliceblue;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    background-color: #36454f;
}

.logo {
    height: 50px;
}

.menu{
    height: 7rem;
    background-color: #36454f;
    font-size: 1.5em;
    font-family: 'roboto_monobold';
}

.menu a{
    margin-top: 1em;
}

#menu-connexion {
    height: 25rem;
    width: 60rem;
    background-color:  #36454f;
}

#menu-connexion a {
    color: aliceblue;
    padding-left: 3rem;
    font-size: 0.8em;
}
#menu-connexion .input {
    margin: 2rem 8rem;
}

#btn-connexion {
    margin-left: 20rem;
    padding: 1rem 6rem;
}


///////////////////////////////[NEWS]///////////////////////////////


///////////////////////////////[LISTE DE JEUX]///////////////////////////////

figure{
    z-index: 1500;
}

.figurehover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    transition: all 200ms ease-in;
    transform: scale(1.75);
}

.titreJeu{
    font-size: 1.025em;
}

.listeJeux{
    margin-top: 6rem;
    margin-bottom: 8rem;
}

.listeJeux h2 {
    margin-bottom: 2rem;
    color: #708090;
}

.listeJeux p{
    margin-bottom: 4rem;
    color: #708090;
}

figcaption{
    background: aliceblue;
    opacity: 0.9;
    width: 100%;
/*    height: 35%;*/
/*    position: absolute;*/
    bottom: 3rem;
}


///////////////////////////////[FOOTER]///////////////////////////////
///////////////////////////////[FOOTER]///////////////////////////////

footer a {
    color: aliceblue;
}


footer {
    position: absolute;
    bottom: 0;
    background-color: #36454f;
}

footer p {
    margin: 1em;
    padding: 2em;
    color: aliceblue;
}

.footer li {
    text-align: center;
    color: aliceblue;
}

.footer li a:hover{
    color: #5bc0de;
}

a:hover {
    color: #5bc0de;
}

footer h4{
    color: aliceblue;
}

/*
footer h3{
    color: aliceblue;
}
*/

.modal-body h2{
    color: red;
}

.modal-body h3{
    color: #4e4e4e;
}

.modal-body p{
    color: #4e4e4e;
}

.modal-body a{
    color: #4e4e4e;
    text-decoration: underline;
}

.modal-body li{
    color: #4e4e4e;
}

h3 {
    color: aliceblue;
}

////////////////////////////////////////////////

.propos h3{
    color: aliceblue;
}

.propos a{
    color: aliceblue;
}



.commentaire {
    background: #5bc0de;
}

.bordureDroite {
    border: 2px solid black;
    background: #6E7F80;
}

.bordureTitreJeux{
    border: 5px solid #536872;
    background: linear-gradient(120deg, #6E7F80, #3b3f40);
    margin-bottom: 5rem;
    font-family: 'sedgwick_ave_displayregular';
}

.sujet {
    font-size: 1.5em;
    border-bottom: 2px solid black;
}



.imgSlide {
    width: 100%;
    height: auto;
}

.titreForfait1 {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.titreNoConnect {
    margin-bottom: 6rem;
}

.formNoConnect {
    margin-bottom: 4rem;
}

#mdp {
    margin-bottom: 1.5rem;
}



.styleTab {
    color: aliceblue;
}

.margeTab {
    margin-top: 4rem;
}

/* Sidebar */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.positionsidebar {
    position: fixed;
    right: 0;
    top: 10rem;
    background: #536872;
    height: 40rem;
    animation: 1s fadeInRight linear;
}

.positionsidebar li a{
    color: aliceblue;
}

.titreSidebar {
    margin-bottom: 5rem;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.tableau {
    margin-top: 5rem;
}





.robert {
    display: block;
    overflow: hidden;
}

.positionTab {
    margin-top: 5rem;
}
